.new4{
  position: absolute;
  padding-top: 20px;
  left: 25%;
  padding-left: 250px;
  color: #000000;
  font-size: 300%;
  font-weight: bold;
}
.univ{
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}